.DS_Store
node_modules/
_build/lithos-app/tsconfig.tsbuildinfo
_build/aurai-app/tsconfig.tsbuildinfo
_build/drift-app/tsconfig.tsbuildinfo
_build/vaultshield-app/tsconfig.tsbuildinfo
_build/dental-app/tsconfig.tsbuildinfo
